body {
    font-family: Arial, sans-serif;
    background-color: #aaaaaa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #4CAF50;
    border-radius: 5px;
    margin-left: 10px;
}

nav a:hover {
    background-color: #45a049;
    color: white;
}

.profile-menu {
    position: relative;
    margin-left: 10px;
}

.profile-button {
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.profile-dropdown button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: left;
    color: black;
}

.profile-dropdown button:hover {
    background-color: #f0f0f0;
}

main {
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form textarea,
form input[type="date"],
form input[type="file"],
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
