.password-container {
    position: relative;
    width: 100%;
}

.password-container img {
    position: absolute;
    right: 8px;
    top: 20%;
    transform: translateY(50%);
    width: 12%;
    height: auto;
}

.login-form {
    max-width: 300px;
    background-color: #aaaaaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

body {
    font-family: 'Brawl Stars', Arial, sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    max-width: 300px;
    background-color: #aaaaaa;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 18px;
}

label {
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    text-align: left;
}

input, select, textarea {
    margin-bottom: 20px;
    background-color: #cccccc;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px; 
}

button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}